:root {
  --primary-color: #ff654c;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 70px;
  text-align: center;
  padding: 30px 10px 0px 0px;
  font-weight: 900;
}

.logo-image {
  padding: 30px 10px 0px 0px;
}

.homepage-heading {
  display: flex;
  justify-content: center;
}
