:root {
  --primary-color: #ff654c;
  --secondary-color: #c3a8a6;
  --box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-family: "Style Script", cursive;
  font-style: normal;
  font-size: 100px;
  font-weight: 900;
  padding: 30px 10px 0px 0px;
  text-align: center;
}

h2 {
  text-align: center;
  padding: 20px 0px 70px 0px;
  opacity: 0.8;
}

.logo-image {
  padding: 30px 10px 0px 0px;
  width: 250px;
}

.homepage-heading {
  display: flex;
  justify-content: center;
}

.homepage-examples {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.homepage-text {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.blurb {
  font-size: 35px;
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
}

.links {
  display: flex;
  justify-content: center;
  margin: 90px 0px 50px 0px;
}
.link-button {
  background-color: var(--primary-color);
  padding: 10px 15px;
  margin: 0px 20px;
  color: whitesmoke;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
.link-button:hover {
  color: var(--primary-color);
  background-color: whitesmoke;
  border: solid 2px var(--primary-color);
  text-decoration-line: none;
}

.bg-custom-nav {
  background-color: var(--primary-color);
}
